<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CollegeMajor: Main Page</title>

    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/ju-1.12.1/jq-3.3.1/dt-1.10.21/datatables.min.css"/>

    <script type="text/javascript"
            src="https://cdn.datatables.net/v/ju-1.12.1/jq-3.3.1/dt-1.10.21/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#data').DataTable();
        });
    </script>
</head>


{# Chart JS Code ---------- #}
<link src="/static/collected/autocomplete_light/vendor/select2/dist/css/select2.css" type="text/css" media="all"
      rel="stylesheet"/>
<link src="/static/collected/autocomplete_light/select2.css" type="text/css" media="all" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<h1>CollegeMajor</h1>


<!-- Autocomplete Search -->
{% block test %}
    <h2>Search by Major</h2>
    <form action="" method="get">
        {{ MajorForm.as_p }}

        <input type="submit" value="Search"/>
    </form>
    <h2>Search by University</h2>
    <form action="" method="get">
        {{ SchoolForm.as_p }}

        <input type="submit" value="Search">
    </form>
{% endblock %}

<br>
<a href="?highest_avg=True">View Majors By Average Salary</a>

<hr>
{% block content %}
    <!-- Major Graph-->
    <div class="container">
        <canvas id="MajorChart">

        </canvas>
    </div>
    <!-- School Graph-->
    <div class="container">
        <canvas id="SchoolChart">

        </canvas>
    </div>
    <table id="data">
        <thead>
        <tr>
            {% if majors|length > 0 %}
                <th>Majors</th>
            {% elif schools|length > 0 %}
                <th>Universities</th>
            {% endif %}
            {% if majors|length > 0 or schools|length > 0 %}
                <h2>Highest Bachelor's Degree Salaries
                    {% if schools|length > 0 %}
                        <div>Major: {{ major }}</div>
                    {% endif %}
                </h2>


                <th>First Year Salary</th>
                {% if majors|length > 0 %}

                    <th>First Year Debt</th>
                {% endif %}




            {% endif %}
            {% if schools|length > 0 %}
                <h3>Average salary for major: ${{ average_salary }}.</h3>
                <p>
                    Min: ${{ boxplot.big_5.min }} |
                    Q1: ${{ boxplot.big_5.q1 }} |
                    Med: ${{ boxplot.big_5.med }} |
                    Q3: ${{ boxplot.big_5.q3 }} |
                    Max: ${{ boxplot.big_5.max }}
                </p>
                <div style="width:50%">
                    <canvas id="MeSeStatusCanvas">

                    </canvas>
                </div>


                <script>
                    let major = "{{ major }}";
                    let q1 = "{{ all_major_stats.q1 }}";
                    let median = "{{ all_major_stats.median }}";
                    let q3 = "{{ all_major_stats.q3}}";
                    Chart.defaults.global.defaultFontFamily = 'Lato';
                    Chart.defaults.global.defaultFontSize = 18;
                    Chart.defaults.global.defaultFontColor = '#777';

                    let MeSeContext = document.getElementById("MeSeStatusCanvas").getContext("2d");
                    var MeSeData = {
                        labels: [
                            "Q1",
                            "Med",
                            "Q3"
                        ],
                        datasets: [
                            {
                                label: major,
                                data: [{{ boxplot.big_5.q1 }}, {{ boxplot.big_5.med }},
                                    {{ boxplot.big_5.q3 }}],
                                backgroundColor: ["#29B6F6", "#29B6F6", "#29B6F6", "#29B6F6", "#29B6F6", "#29B6F6"],
                                hoverBackgroundColor: ["#29d0f6", "#29d0f6", "#29d0f6"]
                            },
                            {
                                label: "All Majors",
                                data: [q1, median,
                                    q3],
                                backgroundColor: ["#FCCE56", "#FCCE56", "#FCCE56", "#FCCE56", "#FCCE56", "#FCCE56"],
                                hoverBackgroundColor: ["#fceb56", "#fceb56", "#fceb56"]
                            }
                        ]
                    };

                    var MeSeChart = new Chart(MeSeContext, {
                        type: 'bar',
                        data: MeSeData,
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    },
                                    stacked: false,
                                    scaleLabel: {
                                        display: true,
                                        labelString: "First Year Salary",
                                        fontColor: "red"
                                    }

                                },
                                ]
                            }

                        }
                    });

                </script>

            {% endif %}
        </tr>
        </thead>

        {% if schools|length > 0 %}
            <tbody>
            {% for school_name, median_earnings_kv in schools.items %}
                <tr>
                    <td>{{ school_name|title }}</td>

                    {% for _, median_earning in median_earnings_kv.items %}
                        <td>${{ median_earning }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        {% elif majors|length > 0 %}
            <tbody>
            {% for major_name, median_earnings_kv in majors.items %}
                <tr>
                    <td>{{ major_name|title }}</td>

                    {% for d, median_earning in median_earnings_kv.items %}
                        <td>${{ median_earning }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        {% endif %}
    </table>

    <!-- Js that renders graph for Majors-->
    <script>
        let myChart = document.getElementById('MajorChart').getContext('2d');
        major = "{{ major }}";
        // Global Options
        let massPopChart = new Chart(myChart, {
            type: 'scatter',
            data: {
                datasets: [{
                    label: 'Public',
                    backgroundColor: "blue",

                    borderColor: "black",
                    pointRadius: 7,
                    pointHoverRadius: 20,
                    pointStyle: "rectRot",
                    pointHoverBackgroundColor: 'rgba(255, 143, 0, 0.5)',

                    data: {{ coordinate_points_pub|safe}},
                    labels: {{ uni_names_pub|safe }}
                },
                    {
                        label: 'Private Non-Profit',
                        backgroundColor: "green",
                        borderColor: "black",
                        pointRadius: 7,
                        pointHoverRadius: 20,
                        pointStyle: "triangle",
                        pointHoverBackgroundColor: 'rgba(255, 143, 0, 0.5)',

                        data: {{ coordinate_points_priv_np|safe}},
                        labels: {{ uni_names_priv_np|safe}}
                    },
                    {
                        label: 'Private For Profit',
                        backgroundColor: "red",

                        borderColor: "black",
                        pointRadius: 7,
                        pointHoverRadius: 20,
                        pointStyle: "rectangle",
                        pointHoverBackgroundColor: 'rgba(255, 143, 0, 0.5)',

                        data: {{ coordinate_points_priv_fp|safe}},
                        labels: {{ uni_names_priv_fp|safe}}
                    }]
            },
            options: {
                title: {
                    display: true,
                    text: "Salary and Debt at Universities for " + major + ".",
                    backgroundColor: "red"
                },
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            var dataset = data.datasets[tooltipItem.datasetIndex];
                            var index = tooltipItem.index;
                            var label = dataset.labels[index];
                            return label + ': (' + tooltipItem.xLabel + ', ' + tooltipItem.yLabel + ')';
                        }
                    }
                },
                scales: {
                    xAxes: [{
                        type: 'linear',
                        position: 'bottom',
                        scaleLabel: {
                            display: true,
                            labelString: "Median First Year Salary",
                            fontColor: "red"
                        }
                    }],
                    yAxes: [{
                        type: 'linear',
                        position: 'bottom',
                        scaleLabel: {
                            display: true,
                            labelString: "Median Debt",
                            fontColor: "red"
                        }
                    }]
                }
            }
        });
    </script>
    <!-- Js that renders graph for Schools-->
    <script>
        let myChart = document.getElementById('SchoolChart').getContext('2d');

        // Global Options
        Chart.defaults.global.defaultFontFamily = 'Lato';
        Chart.defaults.global.defaultFontSize = 18;
        Chart.defaults.global.defaultFontColor = '#777';
        let massPopChart = new Chart(myChart, {
            type: 'scatter',
            data: {
                datasets: [{
                    label: 'School',
                    backgroundColor: "blue",
                    borderColor: "blue",
                    pointRadius: 10,
                    pointHoverRadius: 20,
                    pointStyle: "triangle",
                    pointHoverBackgroundColor: 'rgba(255, 143, 0, 0.5)',
                    data: {{ coordinate_points|safe}},
                    labels: {{ major_names|safe }}
                }]
            },
            options: {
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            var dataset = data.datasets[tooltipItem.datasetIndex];
                            var index = tooltipItem.index;
                            var label = dataset.labels[index];
                            return label + ': (' + tooltipItem.xLabel + ', ' + tooltipItem.yLabel + ')';
                        }
                    }
                },
                scales: {
                    xAxes: [{
                        type: 'linear',
                        position: 'bottom',
                        scaleLabel: {
                            display: true,
                            labelString: "Median Salary",
                            fontColor: "red"
                        }
                    }],
                    yAxes: [{
                        type: 'linear',
                        position: 'bottom',
                        scaleLabel: {
                            display: true,
                            labelString: "Median Debt",
                            fontColor: "red"
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}

<!-- End Test-->
{% block footer %}
    <script type="text/javascript"
            src="http://dal-yourlabs.rhcloud.com/static/collected/admin/js/vendor/jquery/jquery.js"></script>
    {{ MajorForm.media }}
    {{ SchoolForm.media }}
    <script>
        (function ($) {
            $('#add-form').click(function () {
                var index = $('#id_inline_test_models-TOTAL_FORMS').val();
                var newTable = $('#id_inline_test_models-__prefix__-DELETE').parents('table').clone();
                newTable.find(':input').each(function () {
                    for (attr of ['name', 'id'])
                        $(this).attr(
                            attr,
                            $(this).attr(attr).replace('__prefix__', index)
                        )
                });
                newTable.insertBefore($(this));
                $('#id_inline_test_models-TOTAL_FORMS').val(
                    parseInt($('#id_inline_test_models-TOTAL_FORMS').val()) + 1
                );
                newTable.slideDown()
            })
        })($)
    </script>
{% endblock %}



</body>
</html>
